<div class="jumbotron">
  <div class="text-center">
    <h2>Dotazník </h2>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <label><h4>Meno:</h4></label> <br>
        <input type="text" [(ngModel)]="username">

        <label><h4>{{question1.text}}</h4></label>
        <div *ngFor="let value of question1.values">
          <label class="customcheck">{{value.value}}
            <input type="checkbox" [(ngModel)]="value.marked">
            <span class="checkmark"></span>
          </label>
        </div>

        <label><h4>{{question2.text}}</h4></label>
        <div *ngFor="let value of question2.values">
          <label class="customcheck">{{value.value}}
            <input type="checkbox" [(ngModel)]="value.marked">
            <span class="checkmark"></span>
          </label>

        </div>

        <label><h4>{{question3.text}}</h4></label>
        <div *ngFor="let value of question3.values">
          <label class="customcheck">{{value.value}}
            <input type="checkbox" [(ngModel)]="value.marked">
            <span class="checkmark"></span>
          </label>
        </div>

        <label><h4>{{question4.text}}</h4></label>
        <div *ngFor="let value of question4.values">
          <label class="customcheck">{{value.value}}
            <input type="checkbox" [(ngModel)]="value.marked">
            <span class="checkmark"></span>
          </label>
        </div>
        <label><h4>Bol si spokojný s našou prácou? </h4></label><br>
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-xs-2">
              <label class="customcheck">1
                <input type="radio" [(ngModel)]="myRating" value="1">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-2 col-xs-2">
              <label class="customcheck">2
                <input type="radio" [(ngModel)]="myRating" value="2">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-2 col-xs-2">
              <label class="customcheck">3
                <input type="radio" [(ngModel)]="myRating" value="3">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-2 col-xs-2">
              <label class="customcheck">4
                <input type="radio" [(ngModel)]="myRating" value="4">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-2 col-xs-2">
              <label class="customcheck">5
                <input type="radio" [(ngModel)]="myRating" value="5">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <br>
        <label for="comment"><h4>Čo nám chceš odkázať, poprípade čo ti nebolo jasne?</h4></label>

        <textarea type="text" class="form-control" style="min-height: 75px; width: 100%" id="comment"
                  required
                  [(ngModel)]="myComment" name="comment">
    </textarea>
      </div>
      <div class="col-md-6">

        <!--<button class="btn-success" (click)="onSubmit()" )>Odoslať</button>-->

        {{myComment}}
        {{myRating}}
      </div>
    </div>
  </div>
</div>

<footer class="footer" style="padding: 0px; color: white; background: black">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h4>Autori:</h4>
      </div>
      <div class="col-md-6 mb-md-0 mb-6">

        <ul class="list-unstyled">
          <li>
            <h5>Miroslava Škovranková</h5>
          </li>
          <li>
            <h5>XYZ</h5>
          </li>
          <li>
            <h5>XYZ</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>

<!--<footer class="footer">-->
<!--<div class="container">-->
<!--<span class="text-muted">Place sticky footer content here.</span>-->
<!--</div>-->
<!--</footer>-->
