<div class="jumbotron">
  <div class="text-center">
    <h2>Dotazník </h2>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h4>Miroslava Škovranková:</h4>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4>Miroslava Škovranková:</h4>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4>Miroslava Škovranková:</h4>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <label><h4>Meno:</h4></label> <br>
        <input type="text" [(ngModel)]="username" class="form-control">

        <label><h4>{{question1.text}}</h4></label>
        <div *ngFor="let value of question1.values">
          <label class="customcheck">{{value.value}}
            <input *ngIf="!submitted" type="checkbox" [(ngModel)]="value.marked">
            <input *ngIf="submitted" type="checkbox" [(ngModel)]="value.marked" [style.border-color]="getColor(value)">
            <span class="checkmark"></span>
          </label>
        </div>

        <label><h4>{{question2.text}}</h4></label>
        <div *ngFor="let value of question2.values">
          <label class="customcheck">{{value.value}}
            <input type="checkbox" [(ngModel)]="value.marked">
            <span class="checkmark"></span>
          </label>

        </div>

        <label><h4>{{question3.text}}</h4></label>
        <div *ngFor="let value of question3.values">
          <label class="customcheck">{{value.value}}
            <input type="checkbox" [(ngModel)]="value.marked">
            <span class="checkmark"></span>
          </label>
        </div>

        <label><h4>{{question4.text}}</h4></label>
        <div *ngFor="let value of question4.values">
          <label class="customcheck">{{value.value}}
            <input *ngIf="!submitted" type="checkbox" [(ngModel)]="value.marked">
            <input *ngIf="submitted" type="checkbox" [(ngModel)]="value.marked">
            <span class="checkmark"></span>
          </label>
        </div>

      </div>
      <div class="col-md-6">
        <label><h4>{{question5.text}}</h4></label>
        <div *ngFor="let value of question5.values" class="col-md-6 col-xs-6 text-center">
          <img src="{{value.value}}" alt="" class="img-rounded" style="margin: 3px;">
          <input *ngIf="!submitted" type="text" [(ngModel)]="value.marked"  class="niceInput" placeholder="Zadaj poradie">
          <input *ngIf="submitted" type="text" [(ngModel)]="value.answer"  class="niceInput" placeholder="Zadaj poradie"
                 [style.border-color]=getColor2(value)>
        </div>
        <label><h4>Bol si spokojný s našou prácou? </h4></label><br>
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-xs-2">
              <label class="customcheck">1
                <input type="radio" [(ngModel)]="myRating" value="1">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-2 col-xs-2">
              <label class="customcheck">2
                <input type="radio" [(ngModel)]="myRating" value="2">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-2 col-xs-2">
              <label class="customcheck">3
                <input type="radio" [(ngModel)]="myRating" value="3">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-2 col-xs-2">
              <label class="customcheck">4
                <input type="radio" [(ngModel)]="myRating" value="4">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-2 col-xs-2">
              <label class="customcheck">5
                <input type="radio" [(ngModel)]="myRating" value="5">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <br>
        <label for="comment"><h4>Čo nám chceš odkázať, poprípade čo ti nebolo jasne?</h4></label>

        <textarea type="text" class="form-control" style="min-height: 75px; width: 100%" id="comment"
                  required
                  [(ngModel)]="myComment" name="comment">
         </textarea>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-offset-5 col-md-2 col-xs-2">
      <button style="margin: 25px;" class="btn btn-primary" (click)="onSubmit()">Odoslať formulár</button>
    </div>
  </div>
  <hr>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 100px">Meno</th>
      <th>Poznámka</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let com of comments">
      <td>{{com.username}}</td>
      <td>{{com.text}}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 100px">Meno</th>
      <th style="width: 50px">1. otázka</th>
      <th style="width: 50px">2. otázka</th>
      <th style="width: 50px">3. otázka</th>
      <th style="width: 50px">4. otázka</th>
      <th style="width: 50px">5. otázka</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let res of results">
      <td>{{res.username}}</td>
      <td>
        <span *ngIf="res.question1" class="glyphicon glyphicon-ok"></span>
        <span *ngIf="!res.question1" class="	glyphicon glyphicon-remove"></span>
      </td>
      <td>
        <span *ngIf="res.question2" class="glyphicon glyphicon-ok"></span>
        <span *ngIf="!res.question2" class="	glyphicon glyphicon-remove"></span>
      </td>
      <td>
        <span *ngIf="res.question3" class="glyphicon glyphicon-ok"></span>
        <span *ngIf="!res.question3" class="	glyphicon glyphicon-remove"></span>
      </td>
      <td>
        <span *ngIf="res.question4" class="glyphicon glyphicon-ok"></span>
        <span *ngIf="!res.question4" class="	glyphicon glyphicon-remove"></span>
      </td>
      <td>
        <span *ngIf="res.question5" class="glyphicon glyphicon-ok"></span>
        <span *ngIf="!res.question5" class="	glyphicon glyphicon-remove"></span>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<footer class="footer" style="padding: 0px; color: white; background: black">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h4>Autori:</h4>
      </div>
      <div class="col-md-6 mb-md-0 mb-6">

        <ul class="list-unstyled">
          <li>
            <h5>Miroslava Škovranková</h5>
          </li>
          <li>
            <h5>XYZ</h5>
          </li>
          <li>
            <h5>XYZ</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>

